* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner {
    display: block;
    width: 100%;
}

.top-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.top-infocard-text {
    max-width: 766px;
    text-align: center;
    margin-bottom: 66px;
}

.top-infocard-subtitle {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
}

.top-infocard-title {
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.top-infocard-description {
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
}

.top-cards {
    display: flex;
    justify-content: center;
    gap: 22px;
    padding: 74px 0 80px;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 26px 28px;
    max-width: 350px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
    display: block;
    margin-bottom: 26px;
}

.top-card-description {
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.middle-banners{
    background: #E0E0E0;
    max-width: 100%;
    display: block;
    padding: 64px 36px 16px;
}

.middle-banners-wrapper{
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr);
    gap: 20px;
    margin: auto; 
    left: 0;
    right: 0;
    bottom: -44%;

}

.middle-banners-background {
    position: absolute;
    max-width: 100%;
}

.middle-banners-item img{
    object-fit: contain;    
}

.middle-banners-item{
    overflow: hidden;
}

.bottom-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 92%;
    margin: 138px 72px;
    gap: 16px;
}

.bottom-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 15px 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.bottom-card-image{
    display: block;
   margin-bottom: 14px;
}

.bottom-card-text{
    max-width: 90%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.bottom-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 104px;
}

.bottom-infocard-text {
    max-width: 550px;
    margin-bottom: 32px;
}

.bottom-infocard-title {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    text-align: center;
}

.bottom-infocard-description {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.bottom-infocard-image-desktop {
    max-width: 80%;
}

.footer-icons {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon {
    margin: 0 8px;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    padding: 38px 0;
}

.footer-text {
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
    color: #BDBDBD;
}

@media screen and (max-width: 414px) {
    .main-banner-desktop {
        display: none;
    }

    .bottom-infocard {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 72px 0;
        display: block;

    }

    .bottom-infocard-text {
        padding: 20px 0;
        display: block;
    }

    .bottom-infocard-title {
        font-size: 24px;
        padding: 70px 0;
    }

    .bottom-infocard-image-desktop {
        display: none;
    }

    .bottom-infocard-image-mobile {
        display: block;
        max-width: 346px;
    }

    .page-footer {
        padding-bottom: 26px;
    }

    .footer-text {
        max-width: 280px;
        text-align: center;
    }
}

@media screen and (min-width: 415px) {
    .main-banner-mobile {
        display: none;
    }

    .bottom-infocard-image-mobile {
        object-fit: cover;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .top-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 36px 26px;
    }

    .middle-banners-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 78%;
        margin: 84px auto;
    }

    .bottom-cards{
        grid-template-columns: 1fr;
        max-width: 367px;
    }

    .bottom-card-description {
        font-size: 14px;
    }

    .bottom-infocard-image-desktop {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .top-infocard {
        flex-direction: column;
        padding: 84px 26px 100px;
    }

    .top-infocard-text {
        margin: 0 0 68px;
    }

    .top-infocard-subtitle {
        font-size: 20px;
    }
    
    .top-infocard-title {
        margin-bottom: 20px;
        font-size: 28px;
    }
    .top-infocard-image {
        width: 100%;
        max-width: 240px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px ){
    .top-cards {
        grid-template-columns: repeat(2, max-content);
        padding: 36px 26px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .top-infocard-text {
        max-width: 520px;
        margin-right: 70px;   
    }
}
